nav {
    width: 100vw;
    background-color: $secondary-color;
}

.nav {
    &-li {
        list-style-type: none;
        margin: 0 2vw;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &-li > a {
        text-decoration: none;
        color: $third-color;
        font-family: $nav-font;
        font-weight: bold;
        margin-top: 2rem;
    }

    &-ul {
        margin: 0;
        padding: 0;
        display: flex;
    }

    &-ul > :nth-child(1) {
        margin-right: auto;
    }
}
