header {
    position: fixed;
    right: 0;
    top: 0;
}

.nav {
    &-li {
        list-style-type: none;
        margin: 0 2vw;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &-li > a {
        text-decoration: none;
        font-family: $nav-font;
        font-weight: bold;
        margin-top: 2rem;
        @include medium-transition;

        // &:hover {
        //     color: $primary-color;
        //     cursor: pointer;
        // }
    }

    &-ul {
        margin: 0;
        padding: 0;
        display: flex;
    }

    &-ul > :nth-child(1) {
        position: fixed;
        left: 0;
    }
}

.nav-base {
    color: $secondary-color;

    &:hover {
        color: $primary-color;
        cursor: pointer;
    }
}
