.team {
    height: 80vh;
    width: 100%;
    background: 
        linear-gradient(
            to right,
            rgba($primary-color, 0.2),
            rgba($primary-color, 0)
        ),
        url($team-bg) center top;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    display: flex;

    &__header {
        margin-top: 5rem;
    }

    &__text {
        font-size: 2.6rem;
        margin-bottom: 15vh;
        width: 65vw;
        color: $primary-color;
    }

    &__para {
        font-size: 1rem;
        margin-bottom: 30vh;
        width: 60vw;
        color: $primary-color;
    }
}

.projects img {
    // height: 20vh;
    width: 20%;
}

.nav-team {
    color: $third-color;

    &:hover {
        color: $fourth-color;
        cursor: pointer;
    }
}

.columns {
    display: grid;
    grid-template: 'column1 column2';
    grid-gap: 4rem;
    margin-bottom: -15rem;


    &__one {
        grid-area: column1;
        margin-left: 20rem;
        width: 30vw;
        color: green;
    }

    &__two {
        grid-area: column2;
        margin-right: 20rem;
        width: 30vw;
        color: red;
    }
}

.tool-img {
    height: 40vh;
    width: 60%;
}