@import './variables';
@import './nav';
@import './footer';
@import './landing-page';
@import './projects';
@import './about';

body {
    background-color: $primary-color;
    // overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    color: $fourth-color;
}

