@import './variables';
@import './nav';
@import './footer';
@import './landing-page';
@import './projects';
@import './services';
@import './about';
@import './team';

body {
    // background-color: $primary-color;
    background: linear-gradient(
        to right,
        $primary-color, $secondary-color
    );
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    color: $fourth-color;
}

